services:
    nginx:
        image: nginx:stable
        volumes:
            - ./.docker/nginx/conf.d:/etc/nginx/conf.d
            - ./:/var/www
        ports:
            - '${APP_PORT:-80}:80'
        restart: always
        depends_on:
            app:
                condition: service_started
        container_name: nginx

    app:
        build:
            context: .
            dockerfile: .docker/app/Dockerfile
        volumes:
            - ./:/var/www
        environment:
            APP_KEY: ${APP_KEY}
            APP_NAME: ${APP_NAME}
            APP_ENV: ${APP_ENV}
            APP_URL: ${APP_URL}
            DB_CONNECTION: ${DB_CONNECTION}
            DB_HOST: ${DB_HOST}
            DB_PORT: ${DB_PORT}
            DB_DATABASE: ${DB_DATABASE}
            DB_USERNAME: ${DB_USERNAME}
            DB_PASSWORD: ${DB_PASSWORD}
            APP_DEBUG: ${APP_DEBUG}
            AWS_ACCESS_KEY_ID: ${S3_ACCESS_KEY_ID}
            AWS_SECRET_ACCESS_KEY: ${S3_SECRET_ACCESS_KEY}
            PHP_IDE_CONFIG: "serverName=mystore"
            XDEBUG_CONFIG: "idekey=PHPSTORM"
        ports:
            - '${VITE_PORT:-5173}:5173'
        depends_on:
            - db
        container_name: app

    db:
        image: postgres
        restart: always
        volumes:
            - db-pgsql:/var/lib/postgresql/data
        environment:
            - POSTGRES_DB=${DB_DATABASE}
            - POSTGRES_USER=${DB_USERNAME}
            - POSTGRES_PASSWORD=${DB_PASSWORD}
        ports:
            - '${DB_PORT:-5432}:5432'
        container_name: db

    adminer:
        image: adminer
        restart: always
        ports:
            - 8080:8080

    redis:
        image: redis
        restart: unless-stopped
        ports:
            - "6379:6379"
        container_name: redis

volumes:
    db-pgsql:
        driver: local
        name: "db_pgsql"
