@tailwind base;
@tailwind components;
@tailwind utilities;

/* a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
  color: inherit;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-background-clip: text;
}

.v-footer {
  margin: 0 14px;
} */
