@import "tailwindcss";
@import "tailwindcss-primeui";
@import 'primeicons/primeicons.css';
@custom-variant dark (&:where(.dark, .dark *));

body {
    min-width: 540px;
    margin: 0 !important;
    background-color: var(--body-bg);
}

:root {
    --body-bg: var(--p-surface-200);
}
:root[class~="dark"] {
    --body-bg: var(--p-surface-700);
}

.slide-fade-enter-active {
    transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
    transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
    transform: translateX(20px);
    opacity: 0;
}
